<div boxed>
  <mat-form-field appearance="fill">
    <mat-label>Choose an state for the tasks to show</mat-label>
    <mat-select (selectionChange)="onStatusChange($event)">
      @for (option of options; track $index) {
        <mat-option [value]="option == 'Completed' ? true : false">
          {{ option }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<div class="result">
  @for (skill of skillsResource.value(); track $index) {
    <div>
      {{ skill.name }}
    </div>
  }
</div>
