<div class="skillrow">
  <div class="id">ID: {{ skill().id }}</div>
  <div class="name">{{ skill().name }}</div>
  <div class="completed">
    <mat-icon>{{ skill().completed ? 'check_circle' : 'radio_button_unchecked' }}</mat-icon>
  </div>
  <div class="cmd">
    <button
      mat-raised-button
      color="primary"
      [routerLink]="['/skills', skill().id]">
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="deleteItem(skill())">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
