.mat-mdc-card-actions {
    padding: var(--gap-medium) !important;
    margin-left: var(--gap-medium) !important;
    margin-right: 0px !important;
    margin-bottom: var(--gap-medium) !important;
}

button{
  margin-right: var(--gap-small);
}

.mat-mdc-unelevated-button{
  margin-bottom: var(--gap-small);
  min-width: 80px;
}